<fieldset class="block">
  <div class="mb-3 text-sm text-gray-400">
    <%= question.answer_required ? 'Select one or more options' : 'You can select a few options' %>  
  </div>
  <%= collection_check_boxes :questions, "#{question.id}", question.possible_answers.order(:position), :id, :value,
                             { checked: answer_value(@result, question.id) } do |b| %>
    <span class="checkbox">
      <%= b.label(class: 'w-full inline-flex items-center mb-2 cursor-pointer text-sm text-gray-700') do
            b.check_box(class: 'form-checkbox mr-2') + b.text
          end %>
    </span>
  <% end %>
</fieldset>

<% if @validation_errors && @validation_errors[question.id.to_s] %>
  <div class="text-sm text-red-400">You should choose at least one option</div>
<% end %>
