<div class="text-center">
  <h1 class="text-white text-3xl">Questionnaires</h1>
</div>

<div class="grid grid-cols-8 gap-4 my-12 bg-white rounded shadow-lg pt-10 pb-8">
  <div class="col-span-6 col-start-2">
    <ul>
      <% @questionnaires.each do |questionnaire| %>
        <li><%= link_to questionnaire.name, questionnaire_path(questionnaire.slug) %></li>
      <% end %>
    </ul>
  </div>
</div>
