<div class="text-center">
  <h1 class="text-white text-3xl"><%= @questionnaire.name %></h1>
</div>

<div class="grid grid-cols-8 gap-4 my-12 bg-white rounded shadow-lg pt-10 pb-8">
  <div class="col-span-6 col-start-2">
    <%#= form_with do |f| %>
    <form id="edit_company_75728ce8-8dbc-41b9-bc6d-f56f644af616" action="/companies/75728ce8-8dbc-41b9-bc6d-f56f644af616/steps/step_1" accept-charset="UTF-8" method="post" class="simple_form edit_company">
      <%= render partial: 'question', collection: @step.questions.order(:position) %>
      <div class="mt-12 text-center">
        <span class="inline-flex rounded-full shadow">
          <input type="submit" name="commit" value="Continue" data-disable-with="Continue" 
                 class="cursor-pointer inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-full text-white bg-pink focus:outline-none focus:border-pink focus:shadow-outline-pink active:bg-pink transition ease-in-out duration-150">
         <%= link_to 'Continue', "/#{@questionnaire.slug}/#{params[:uid]}/step/#{params[:step_id].to_i + 1}" %>
        </span>
      </div>
    </form>
    <%# end %>
  </div>
</div>
