<div>
  <div class="relative">
    <div>
      <div data-position="below" class="autocomplete" style="position: relative;">
        <input role="combobox" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" aria-autocomplete="list" aria-haspopup="listbox" aria-owns="autocomplete-result-list-1" aria-expanded="false" aria-activedescendant="" name="company[name]" placeholder="Search" aria-label="Search" class="autocomplete-input">
        <ul id="autocomplete-result-list-1" role="listbox" class="autocomplete-result-list" style="position: absolute; z-index: 1; width: 100%; visibility: hidden; pointer-events: none; top: 100%;"></ul>
      </div>
    </div>
  </div>
  <span class="block text-sm text-red-400">can't be blank</span>
</div>
